<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Ws" />
        <binding name="mialisiaSoap" />
        <binding name="CustomerSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomerSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://newphpgiftapi.wsicloud.com/VendorWebService.svc/VendorWebService.svc"
        binding="basicHttpBinding" bindingConfiguration="Ws" contract="PuriumGiftApi.IVendorService"
        name="Ws" />
      <endpoint address="http://miareportapi.wsicloud.com/mialisia.asmx"
        binding="basicHttpBinding" bindingConfiguration="mialisiaSoap"
        contract="MialisiaReportingApi.mialisiaSoap" name="mialisiaSoap" />
      <endpoint address="http://api.wsicloud.com/customer.asmx" binding="basicHttpBinding"
        bindingConfiguration="CustomerSoap" contract="WSIAPI.CustomerSoap"
        name="CustomerSoap" />
      <endpoint address="http://api.wsicloud.com/customer.asmx" binding="customBinding"
        bindingConfiguration="CustomerSoap12" contract="WSIAPI.CustomerSoap"
        name="CustomerSoap12" />
    </client>
  </system.serviceModel>
</configuration>